@import "node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
$base-dark: rgba(51, 51, 51, 1);
$base-green: rgba(209, 209, 209, 1);
$base-txt: rgba(203,203,203,1);
$nav-height: 3em;
$nav-color: #bbb;
$nav-background: #2e2e2e;
.navbar-fixed {
  position: fixed;
  top: -($nav-height);
}
ul {
  width: 100%;
  color: $base-dark;
  background: $nav-background;
  font-weight: bold;
  letter-spacing: 0.025em;
  text-align: center;
  margin: 0;
}

ul li {
 display: inline-block;
 padding: 0 3em;
 line-height: 3em;
}

.set-card-margin-bottom {
    margin-bottom: 15px;
}

img.center {
    display: block;
    margin: 0 auto;
}

.card-brand {
    color: rgba(142, 133, 133, 0.6);
    font-size: 16px;
}

.card-name {
    font-size: 20px;
}

.card-price {
    color: #e4022d;
    font-size: 20px;
}

ul li:hover {
  background: $base-txt;
}

.changeSize{
	
font-size: 10px
}
.changeSizeBig{
  font-size:  1.0rem;
}
.navbar{


	justify-content: space-between; 
  span {
  flex-grow: 1; /* default 0 */
}

}

.grid-content{
  justify-content: flex-end; 
}
.navbar-dark{
	background-color: #333;
}